@import "../../../variables.scss";

.Contactlanding {
    min-height: 350px;
    height: 45vh;
    background: url("./../../../assets/ContactLanding.png") no-repeat;
    background-size: cover;
    max-height: 550px;
    display: flex;
    align-items: center;
}
