@import "../../../variables.scss";

.landingSection {
    background-size: cover;
    height: 800px;
    overflow: hidden;
    .slick {
        position: absolute;
        max-height: 980px;
        min-height: 750px;
        top: 80px;
        left: 0;
        width: 100%;
        .slickImg {
            width: 100%;
            height: 800px;
        }
    }
    .bgColor {
        background: rgba(51, 207, 171, 0.6);
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 0;
        backdrop-filter: blur(2px);
        p {
            font-weight: 500;
            color: #1d3d3d;
            font-family: "BossaExtended";
            animation: skewAnim 1s ease both;
            transform-origin: 0;
            overflow: hidden !important;
            font-size: 1.6rem;
        }
        h5 {
            animation: skewAnim 1s ease both;
            font-family: "BossaExtended";
            overflow: hidden !important;
            margin: 1rem 1.5rem 2rem 0;
            font-weight: 100;
            font-size: 1rem;
        }
    }
    // h1{
    //     opacity: 0;
    // }
    .animate {
        scale: 2;
    }

    @for $i from 1 to 30 {
        .landAnim:nth-of-type(n + #{$i}) {
            animation: introAnim 1s ease both;
            transform-origin: center 80%;
            transform-style: preserve-3d;
            animation-delay: $i * 50ms;
            perspective: 1000px;
        }
    }
    @keyframes introAnim {
        0% {
            opacity: 0;
            transform: scale(1.2);
            filter: blur(2px);
        }
        100% {
            opacity: 1;
            transform: scale(1);
            filter: blur(0);
        }
    }
    @keyframes skewAnim {
        0% {
            transform: skewY(10deg) translateY(10px);
        }
        100% {
            transform: none;
        }
    }
}
