.projectPage {
    .Section2 {
        margin: 2.5rem 0 0 0;
        padding: 2.5rem 0 0 0;
        .row {
            .col-4 {
                img {
                    width: 100%;
                    height: 100%;
                }
                padding: 0;
            }
            .middle {
                img {
                    height: 50%;
                }
            }
        }
    }
}
