.projectPage {
    .Section3 {
        .row {
            margin: 2rem 0;
            .inn {
                padding: 0;
                position: relative;
                transition: 0.7s ease;
                overflow: hidden;
                .bar {
                    height: 30rem;
                    padding: 4.5rem 3.5rem;
                    display: flex;
                    flex-direction: column;
                    // justify-content: space-between;
                    align-items: center;
                    h2 {
                        font-size: 2.5rem;
                        text-align: center;
                    }
                    h3 {
                        font-size: 1.5rem;
                        margin-bottom: 1rem;
                    }
                    p {
                        transition: 0.7s ease;
                    }
                }
                &:nth-of-type(even) {
                    background: rgba(51, 207, 171, 0.2);
                }
                &:hover {
                    transition: 0.7s ease;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    z-index: 9;
                }
            }
        }
        .btn {
            color: #154142;
            width: fit-content;
            border: 2px solid #154142;
            padding: 0.9rem 4rem;
            border-radius: 0;
            display: flex;
            margin: auto;
        }
    }
}

.sec1,
.sec3,
.sec5,
.sec7 {
    background: rgba(51, 53, 59, 0.049);
    padding: 2rem 0;
}

.sec2,
.sec4,
.sec6 {
    padding: 2rem 0;
}

@media (max-width: 1199px) {
    .projectPage {
        .Section3 {
            .row {
                .inn {
                    .bar {
                        h2 {
                            font-size: 2rem;
                        }
                        h3 {
                            font-size: 1.3rem;
                            margin-bottom: 1rem;
                        }
                        p {
                            font-size: 1rem;
                            transition: 0.7s ease;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .projectPage {
        .Section3 {
            .row {
                .inn {
                    .bar {
                        height: 25rem;
                        h2 {
                            font-size: 1.5rem;
                        }
                        h3 {
                            font-size: 1.1rem;
                            margin-bottom: 1rem;
                        }
                        p {
                            font-size: 0.8rem;
                            transition: 0.7s ease;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .projectPage {
        .Section3 {
            .row {
                margin: 0 0 2rem 0;
                .inn {
                    .bar.head {
                        padding: 1rem;
                    }
                    .bar {
                        height: auto;
                        h2 {
                            font-size: 2rem;
                        }
                        h3 {
                            font-size: 1.5rem;
                            margin-bottom: 1rem;
                        }
                        p {
                            font-size: 1.1rem;
                            transition: 0.7s ease;
                        }
                    }
                }
            }
        }
    }
}
