.miningContent {
    .bg {
        height: 60vh;
    }
    .img1 {
        background: url(img1.png) no-repeat;
        background-position: center;
    }
    .img2 {
        background: url(img2.png) no-repeat;
        background-position: center;
    }
}
