@import "../../../variables.scss";

.productsLanding {
    background: url(../../../assets/aboutLanding.png) no-repeat;
    background-size: cover;
    max-height: 550px;
    height: 30vh;
    text-align: center;
    .bgColor {
        background: rgba(51, 207, 171, 0.8);
        height: 100%;
        display: flex;
        align-items: center;
        p {
            width: 60%;
            font-weight: 900;
        }
    }
}
