.manufacturingContent {
    margin: 2.5rem auto;
    padding: 2.5rem 0;
    .bg {
        padding: 5rem 0;
    }
    // .img1 {
    //     background: url(img2.png) no-repeat;
    //     background-position: center;
    // }
}
