@import "../../variables.scss";

.testimonialsSection {
    margin: 2.5rem 0;
    padding: 4.5rem 0 2.5rem 0;
    h2 {
        color: $darkGreen;
    }
    .container {
        background: url(../../assets/quotes.svg) no-repeat;
        background-position: 0 0;
        .wrapper {
            .mtUp {
                margin-top: -7rem;
            }
            .card {
                border-radius: 8px;
                border: 0;
                box-shadow: 0px 10px 20px 0px #29292a12;
                .card-body {
                    background: url(../../assets/quotes.svg) no-repeat;
                    background-size: 1.2rem;
                    background-position: 0rem 3rem;
                    .card-title {
                        font-weight: 900;
                        font-family: "PoppinsLight";
                    }
                    .card-subtitle {
                        color: $lightGrey;
                        font-weight: 100;
                        font-family: "PoppinsLight";
                        font-size: 0.8rem;
                    }
                    .card-text {
                        margin: 3rem 0;
                        line-height: 1.8;
                        font-weight: 900;
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .testimonialsSection {
        .container {
            .wrapper {
                .mtUp {
                    margin-top: 0;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .testimonialsSection {
        .container {
            .wrapper {
                .mtUp {
                    margin-top: 0;
                }
                .card {
                    width: auto !important;
                }
            }
        }
    }
}
