@import "../../variables.scss";

.landingSection {
    background: url(../../assets/landingBg.png) no-repeat;
    background-size: cover;
    height: 95vh;
    max-height: 1080px;
    padding-top: 69px;
    .bgColor {
        background: rgba(51, 207, 171, 0.8);
        height: 100%;
        display: flex;
        align-items: center;
        p {
            font-weight: 500;
            color: $darkGreen;
            font-family: "BossaExtended";
        }
    }
}

.countSection {
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
    .container {
        display: flex;
        justify-content: center;
        .card {
            border: none;
            padding: 0 3rem;
            border-radius: 0;
            h2 {
                white-space: nowrap;
            }
        }
        .card1 {
            background-color: $darkGreen;
            color: $white;
            justify-content: center;
            p {
                white-space: nowrap;
                color: $white;
            }
            width: stretch;
        }
        .card2 {
            background-color: $lightGreen;
            color: $white;
            justify-content: center;
            p {
                white-space: nowrap;
                color: $white;
            }
            width: stretch;
        }
        .upCard {
            border-top: 5px solid $darkGreen;
            box-shadow: 0px 2px 25px 0px #00215b33;
            margin-top: -30%;
            padding: 3rem;
            h3 {
                font-family: "Poppins";
                font-weight: 600;
            }
            h6 {
                font-weight: 700;
            }
            span {
                font-size: 0.8rem;
                color: $grey;
            }
        }
    }
}

.aboutSection {
    padding: 2.5rem 0;
    margin: 2.5rem 0;
    p {
        text-align: justify;
    }
}

.videoSection {
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    p {
        font-size: 0.95rem;
    }
    .video {
        margin-top: 2rem;
        max-height: 1080px;
        height: 80vh;
        background: url(../../assets/videoImg.png) no-repeat;
        background-size: cover;
        position: relative;
        .playBtn {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.clientsSection {
    padding: 5rem 0;
    background: rgb(51, 207, 170);
    background: linear-gradient(
        90deg,
        rgba(51, 207, 170, 1) 0%,
        rgba(51, 207, 170, 1) 65%,
        rgba(51, 207, 170, 0.5) 65%,
        rgba(51, 207, 170, 0.5) 100%
    );
    h2 {
        margin: 1rem 0 3rem 0;
    }
    .card {
        border: 0;
        border-radius: 0;
        .card-title {
            color: $lightGreen;
            font-size: 1.5rem;
            font-weight: 1000;
            padding: 0 1rem;
        }
        .card-subtitle {
            color: #000000;
            padding: 0 1rem;
            font-size: 1.9rem;
            font-weight: 1000;
        }
    }
}

.testimonialsSection {
    margin: 2.5rem 0;
    padding: 4.5rem 0 2.5rem 0;
    h2 {
        color: $darkGreen;
    }
    .container {
        background: url(../../assets/quotes.svg) no-repeat;
        background-position: 0;
        .wrapper {
            .mtUp {
                margin-top: -7rem;
            }
            .card {
                border-radius: 8px;
                border: 0;
                box-shadow: 0px 10px 20px 0px #29292a12;
                .card-body {
                    background: url(../../assets/quotes.svg) no-repeat;
                    background-size: 1.2rem;
                    background-position: 0rem 3rem;
                    .card-title {
                        font-weight: 900;
                        font-family: "PoppinsLight";
                    }
                    .card-subtitle {
                        color: $lightGrey;
                        font-weight: 100;
                        font-family: "PoppinsLight";
                        font-size: 0.8rem;
                    }
                    .card-text {
                        margin: 3rem 0;
                        line-height: 1.8;
                        font-weight: 900;
                    }
                }
            }
        }
    }
}

.safetySection {
    margin: 2.5rem 0;
    padding: 2.5rem 0;
}

.contactSection {
    margin: 2.5rem 0;
    padding: 2.5rem 0;
    // p {
    //     margin: 2rem 3rem 2rem 0;
    // }
    .accordion,
    .accordion-header {
        font-family: "Poppins" !important;
    }
    .accordion-header {
        background-color: transparent;
        font-weight: 200;
        button {
            font-size: 1.25rem;
        }
    }
    .accordion-button:not(.collapsed) {
        background-color: transparent;
        color: $darkGreen;
        font-weight: 900;
    }
    .accordion-body {
        margin: 0.5rem 2rem 2rem 3rem;
        font-size: 1rem;
        font-family: "PoppinsLight";
    }
}

@media (max-width: 1199px) {
    .testimonialsSection {
        .container {
            .wrapper {
                .mtUp {
                    margin-top: 0;
                }
                .card {
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .countSection {
        .container {
            display: block !important;
            .upCard {
                margin-top: 0;
            }
            .card1,
            .card2 {
                padding: 1.5rem 0 1rem 0;
                text-align: center;
            }
        }
    }
}

@media (max-width: 767px) {
    .testimonialsSection {
        .container {
            .wrapper {
                .mtUp {
                    margin-top: 0;
                }
                .card {
                    width: auto !important;
                }
            }
        }
    }
}
